@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Poppins', sans-serif;
  /* background-color: black; */
}

.task-item-container{
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  margin-top: 2rem;
  /* margin-left: 4rem; */
  background: blue;
}

.task-item-left{
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.task-item-checkbox{
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
  border: 2px solid #000;
  cursor: pointer;
}

.task-item-content{
  font-size: 1rem;
  font-weight: 200;
  color: #000;
}

.task-item-right{
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.label{
  font-size: 0.8rem;
  font-weight: 400;
  color: #000;
}

.value{
  font-size: 1rem;
  font-weight: 500;
  color: #000
}

.header{

  /* margin-top: 2rem; */
  padding: 1rem;
  background: #bae0f8;
}

.header-title{
  font-size: 2rem;
  font-weight: 600;
  color: #000
}